body {
    background-color: #f8f8f8;
    font-family: 'Quicksand', sans-serif;
}

#wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
}

.button {
	cursor: pointer;
}

#frmod-page-wrapper {
    padding: 0 15px;
    min-height: 740px;
    background-color: #fff;
}

@media (min-width:768px) {
	#frmod-page-wrapper {
		position: inherit;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
}

@media (min-width: 1200px) {
	.bubble-nav .col-lg-3 {
		/* - override bootstrap column widths */
		width: 20%;
		padding-right: 7px;
		padding-left: 7px;
	}
}

@media (min-width: 992px) {
	.bubble-nav .col-md-3 {
		/* - override bootstrap column widths */
		width: 20%;
		padding-right: 7px;
		padding-left: 7px;
	}
}

/* Speech Bubble Nav */
.bubble-nav {
	text-align: center;
}

.bubble-nav .col-xs-9{
	width: 100%;
}

.bubble-nav .panel,
.bubble-nav .panel-heading {
	height: 177px;	
	z-index: 2;
}

.bubble-nav .panel{

	position:relative;
	border-radius: 12px;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2em;
	
}

.bubble-nav .panel-heading{
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif !important;
}

.bubble-nav img{
	margin-top: -4px;
}

.bubble-nav #quote {
	
	margin-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
	
}

.bubble-nav .tri {

	position: absolute;
	bottom:15px;
	left: 35%;
	z-index: 0;
	transition: bottom 0.5s;
	
}

.bubble-nav .button.active .tri{
	bottom: -31px;
}

.huge {
    font-size: 24px;
    letter-spacing: 0.05em;
    font-family: "canterbold";
    margin-top: 14px;
}

#stop_intro h3{
	
	font-family: "canterbold";
	font-size: 44px;
	
}

#stop_intro .direction h3{
	
	font-size: 30px;
	
}

#stop_intro .direction{
	
	background: url('../img/direction_arrow.png') no-repeat left top;
	height: 90px;
	padding-left: 130px;
	padding-top: 18px;
	margin-left: 120px;
	
	
}

#stop_intro .centered{
	
	text-align: center;
	width: 80%;
	margin: 0px auto;
	margin-top: 30px;
	
}

.stop_container {
	border-top: 2px solid #F6891E;
	padding-top: 15px;
}

.panel {
    border: none;
}

.panel .panel-heading {
    color: #fff;
    font-family: "canterbold";
    padding: 2px 0px 0px 0px;
}

.panel .panel-body {
   padding: 0px;
}

.panel .panel-body i {
    color: #F6891E;
    font-size: 22px;
}

.panel .panel-heading i {
    font-size: 36px;
    margin-right: 2px;
}

.panel .centered {
    text-align: center;
}

.left-col h3.colored.centered{
	width: 70%;
	margin: 0px auto;
	margin-bottom: 30px;
	margin-top: 35px;
	font-weight: 600;
}

.panel .right-col h3{
	font-size: 48px;
	font-family: "canterbold";
	margin-top: 35px;
	margin-bottom: 0px;
}

.panel .right-col .tag{
	font-size: 16px;
	margin-bottom: 15px;
}

.activities-button {
	font-size: 31px;
}

.printables-button {
	font-size: 37px;
	width: 60%;
	margin: 0px auto;
}
.printables-dropdown {
	width: 52%;
	margin: 0px auto;
	border: 3px solid;
	border-top: none;
}
.printables-dropdown p {
	color: #010101;
	font-size: 14px;
	font-family:Verdana;
	line-height: 14px;
}

/*Circle Btns*/
.round-button {
	width:32%;
	margin: 0px auto;
	padding-bottom: 15px;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    
    background: gray; 
    color: white;
}
.round-button-circle:hover {
	background:#aaa;
}
.round-button i{
	font-size: 46px;
}
.round-button h3 {
	
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:26px;
	margin-top:-35px;
	text-align:center;
	
	font-size: 18px;
	letter-spacing: 1px;
	font-family: "canterbold";
}

.video-list {
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #F6891E;/*TEMP - needs to come from stop color*/
	padding-bottom: 5px;
	padding-top: 5px;
}

.video-list .list-group-item {
	border: none;
	padding: 10px 0px;
	font-size: 18px;
	color: #222;
}

.video-list .list-group-item {
	border: none;
	padding: 10px 0px;
}

.video-player-container{
	background: url('../img/paper_shadow.png') no-repeat center top;
	text-align: center;
	width: 100%;
	height: 330px;
	margin: 0px auto;
}

.video-player-container #player {
	margin-top: 14px;
}

/* Section Colors */
/* gray (intro) */
.gray{
	border-color: #aaa;
}
.gray .colored{
	color: #aaa;
}
.gray .panel-heading {
    border-color: #aaa;
    color: #fff;
    background-color: #aaa;
}
/* orange */
.orange{
	border-color: #F6891E;
}
.orange .colored{
	color: #F6891E;
}
.orange .panel-heading {
    border-color: #F6891E;
    color: #fff;
    background-color: #F6891E;
}
.orange .panel-heading:hover {
    border-color: #FFB069;
    background-color: #FFB069;
}
.orange.round-button-circle {
    background: #F6891E; 
}
.orange.round-button-circle:hover {
	background:#FFB069;
}

/* green */
.green {
    border-color: #41B549;
}
.green .panel-heading {
    border-color: #41B549;
    color: #fff;
    background-color: #41B549;
}
.green .panel-heading:hover {
    border-color: #6BD66E;
    background-color: #6BD66E;
}
.green.round-button-circle {
    background: #41B549; 
}
.green.round-button-circle:hover {
	background:#6BD66E;
}
/* red */
.red {
    border-color: #ED1C24;
}
.red .panel-heading {
    border-color: #ED1C24;
    color: #fff;
    background-color: #ED1C24;
}
.red .panel-heading:hover {
    border-color: #E8626C;
    background-color: #E8626C;
}
.red.round-button-circle {
    background: #ED1C24; 
}
.red.round-button-circle:hover {
	background:#E8626C;
}
/* navy */
.navy {
    border-color: #114977;
}
.navy .panel-heading {
    border-color: #114977;
    color: #fff;
    background-color: #114977;
}
.navy .panel-heading:hover {
    border-color: #42779B;
    background-color: #42779B;
}
.navy.round-button-circle {
    background: #114977; 
}
.navy.round-button-circle:hover {
	background:#42779B;
}
/* blue */
.blue {
    border-color: #18C0DB;
}
.blue .panel-heading {
    border-color: #18C0DB;
    color: #fff;
    background-color: #18C0DB;
}
.blue .panel-heading:hover {
    border-color: #2ED4E5;
    background-color: #2ED4E5;
}
.blue.round-button-circle {
    background: #18C0DB; 
}
.blue.round-button-circle:hover {
	background:#2ED4E5;
}

