body {
    background-color: #f8f8f8;
    font-family: 'Quicksand', sans-serif;
}

#wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
}

.button {
	cursor: pointer;
}

#frmod-page-wrapper {
    padding: 0 15px;
    background-color: #fff;
}

#frmod-page-wrapper.desktop {
	height: 1280px;
    overflow: hidden;
}

@media (min-width:768px) {
	#frmod-page-wrapper {
		position: inherit;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
}

@media (min-width: 1200px) {
	.bubble-nav .col-lg-3 {
		/* - override bootstrap column widths */
		width: 20%;
		padding-right: 7px;
		padding-left: 7px;
	}
}

@media (min-width: 992px) {
	.bubble-nav .col-md-3 {
		/* - override bootstrap column widths */
		width: 20%;
		padding-right: 7px;
		padding-left: 7px;
	}
	
	.line-horizontal{
		display: inline;
	}
	
	.line-vertical{
		display: none;
	}
}

/* Speech Bubble Nav */
.bubble-nav {
	text-align: center;
}

.bubble-nav .col-xs-9{
	width: 100%;
}

.bubble-nav .panel,
.bubble-nav .panel-heading {
	height: 177px;	
	z-index: 2;
}

.bubble-nav .panel{

	position:relative;
	border-radius: 12px;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2em;
	
}

.bubble-nav .panel-heading{
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif !important;
}

.bubble-nav img{
	margin-top: -4px;
}

.bubble-nav #quote {
	
	margin-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
	
}

.bubble-nav .tri {

	position: absolute;
	bottom:15px;
	left: 35%;
	z-index: 0;
	transition: bottom 0.5s;
	
}

.bubble-nav .button.active .tri{
	bottom: -31px;
}

.huge {
    font-size: 24px;
    letter-spacing: 0.05em;
    font-family: "canterbold";
    margin-top: 14px;
}

#stop_intro h3{
	
	font-family: "canterbold";
	font-size: 44px;
	
}

#stop_intro .direction h3{
	
	font-size: 30px;
	
}

#stop_intro .direction{
	
	background: url('../img/direction_arrow.png') no-repeat left top;
	height: 90px;
	padding-left: 130px;
	padding-top: 18px;
	margin-left: 120px;
	
	
}

#stop_intro .centered{
	
	text-align: center;
	width: 80%;
	margin: 0px auto;
	margin-top: 30px;
	
}

.stop_container {
	border-top: 2px solid #F6891E;
	padding-top: 15px;
}

.panel {
    border: none;
}

.panel .panel-heading {
    color: #fff;
    font-family: "canterbold";
    padding: 2px 0px 0px 0px;
}

.panel .panel-body {
   padding: 0px;
}

.panel .panel-body i {
    color: gray;
    font-size: 22px;
}

.panel .panel-heading i {
    font-size: 36px;
    margin-right: 2px;
}

.panel .centered {
    text-align: center;
}

.left-col h3.colored.centered{
	width: 70%;
	margin: 0px auto;
	margin-bottom: 30px;
	margin-top: 35px;
	font-weight: 600;
}

.panel .right-col h3{
	font-size: 48px;
	font-family: "canterbold";
	margin-top: 35px;
	margin-bottom: 0px;
}

.panel .right-col .tag{
	font-size: 16px;
	margin-bottom: 15px;
}

.activities-button {
	font-size: 31px;
}

.printables-button {
	font-size: 37px;
	width: 60%;
	margin: 0px auto;
}
.printables-dropdown {
	width: 52%;
	margin: 0px auto;
	border: 3px solid;
	border-top: none;
}
.printables-dropdown p, .mobile-window p, .mobile-window li {
	color: #010101;
	font-size: 14px;
	font-family:Verdana;
	line-height: 14px;
}

.mobile-window p, .mobile-window li{
	line-height: 20px;
}

/*Circle Btns*/
.round-button {
	width:32%;
	margin: 0px auto;
	padding-bottom: 15px;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    
    background: gray; 
    color: white;
}
.round-button-circle:hover {
	background:#aaa;
}
.round-button i{
	font-size: 46px;
}
.round-button h3 {
	
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:26px;
	margin-top:-35px;
	text-align:center;
	
	font-size: 18px;
	letter-spacing: 1px;
	font-family: "canterbold";
}

.video-list {
	border-top: 2px solid;
	border-bottom: 2px solid;
	padding-bottom: 5px;
	padding-top: 5px;
}

.video-list .list-group-item {
	border: none;
	padding: 10px 0px;
	font-size: 18px;
	color: #222;
}

.video-list .list-group-item {
	border: none;
	padding: 10px 0px;
}

.video-list .list-group-item.selected {
	background-color: #eee;
}

.video-player-container{
	background: url('../img/paper_shadow.png') no-repeat center top;
	text-align: center;
	width: 100%;
	height: 330px;
	margin: 0px auto;
}
.video-player-container .ytplayer {
    margin-top: 26px;
    z-index: 0;
}
.video-player-container .player-poster{
	margin-top: -253px;
	z-index: 1;
}



/* Tool Popups */
.tool-popup {

	display: none;
	z-index: 5;
	padding-left: 30px;
	padding-right: 30px;
	
}

.tool-popup .panel {

	background-color: #bbb;
	border: 2px solid #888;
	height: 493px;
	border-radius: 12px;
	box-shadow:0px 5px 12px #555;
	
	
}

.tool-popup .info-display {
	
	height: 100%;
	background-color: #fff;
	border-radius: 12px;

}

.tool-popup .tool-title{
	font-size: 42px;
	font-family: "canterbold";
	border-bottom: 1px solid;
	border-width: 2px;
	padding-bottom: 4px;
	width: 240px;
	margin: 25px auto 20px auto;
	text-align: center;
}


.tool-popup #btn_popup_close.round-button {
	width: 40px;
	height: 40px;
	top: -15px;
	right: 12px;
	position: absolute;
}

.tool-popup #btn_popup_close i {
	margin-top: 21px;
	font-size: 26px;
}

#orange-tool-popup .panel {
	
	height: 556px;
	
}

#orange-tool-popup .tool-content {
	
	width: 100%;
	height: 100%;
	padding: 30px;
	
}

#orange-tool-popup p.top {
	text-align: center;
	
	padding-top: 0px;
	font-weight: 800;
	font-size: 17px;
	width: 80%;
	margin: -15px auto 20px auto;
}

#orange-tool-popup .tool-left {
	
	width: 32%;
	float:left;
	
}

#orange-tool-popup .tool-left .button {
	background-color: #F6891E;
}

#orange-tool-popup .tool-left .button:not(.active):hover {
	background-color: #FFB069;
}

#orange-tool-popup .tool-left .button {
		
	margin-bottom: 54px;
	padding: 5px;
		
	border-radius: 12px;
	font-family: "canterbold";
	font-size: 40px;
	letter-spacing: 3px;
	color: white;
	text-align: center;
	
}

#orange-tool-popup .button.active {
	background-color: #FFF;
	color: orange;
}

#orange-tool-popup #tool-1-tri {
	
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 34.25%;
	top: 97px;
	border: 20px solid;
	border-color: transparent #fff transparent transparent;

}

#orange-tool-popup .info-display {
	
	width: 64%;
	height: 430px;
	float: right;

}
#orange-tool-popup .info-display div {
	margin: 25px;
}	
#orange-tool-popup .info-display p {

	font-size: 16px;
	margin-bottom: 20px;	
}

#navy-tool-popup .info-display{
	background: none;
}

#navy-tool-popup #view-main {
	
	color: #fff;
	text-align: center;
	
}

#navy-tool-popup .tool-content h3 {
	
	font-family: 'canterbold';
	font-size: 46px;
	color: #fff;

}

#navy-tool-popup #view-main h3{

	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 2px solid white;
	width: 250px;
	margin: 0px auto;
}

#navy-tool-popup p {
	
	font-size: 20px;
	font-weight: 600;
	width: 85%;
	margin: 0px auto;
	padding-top: 10px;
	
}

#navy-tool-popup .button-row {

	text-align: center;

}

#navy-tool-popup .choice.button {
	width: 175px;
	display: inline-block;
	margin: 31px;
}
#navy-tool-popup .choice img {
	margin-bottom: 0px;
	margin-top: 30px;
}

#navy-tool-popup #view-journal{

}
#navy-tool-popup #view-journal .view-content{
	width: 85%;
	color: #114977;
	font-family: Verdana;
}
#navy-tool-popup #view-journal #notebook{
	width: 795px;
	height: 396px;
	margin: 0px auto;
}
#navy-tool-popup #view-journal #rings{
	position: absolute;
}
#navy-tool-popup #view-journal #rings-inner{
	
}
#navy-tool-popup #view-journal .left{

	position: absolute;
	margin-top: 25px;
	width: 300px;	
	
}
#navy-tool-popup #view-journal .right{

	position: absolute;
	left: 610px;
	margin-top: 25px;
	width: 300px;	
}

#navy-tool-popup #view-journal #things-close h3{
	color: #114977;
	font-size: 28px;
	position: absolute;
	top: 300px;
	right: -20px;
}

#navy-tool-popup #view-tips h3 {
	margin-left: 20px;
}

#navy-tool-popup #view-tips h3 {
	margin-left: 20px;
}

#navy-tool-popup #view-tips .tips_container p.top {
	text-align: left;
	margin-left: 30px;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 16px;
}

#navy-tool-popup #view-tips .tips_container {
	background: #fff;
	height: 344px;
	margin: 25px;
}

#navy-tool-popup #view-tips .tips_container .tip  {
	float: left;
	width: 390px;
	height: 125px;
	margin: 10px 0px 0px 35px;
}

#navy-tool-popup #view-tips .tips_container .tip img  {
	float: left;
	margin-left: -15px;
}

#navy-tool-popup #view-tips .tips_container .tip p  {
	font-size: 23px;
	text-decoration: underline;
	float: right;
	
}

#navy-tool-popup #view-tips #things-close h3 {
	color: #114977;
	font-size: 28px;
	position: absolute;
	top: 390px;
	right: 100px;
}

#blue-tool-popup .panel{
	height: 636px;
}

#blue-tool-popup .info-display {
	height: 586px;
	margin: 25px;
}

#blue-tool-popup .info-display h3{
	font-family: 'canterbold';
	font-size: 32px;
}

#blue-tool-popup .info-display p{
	font-family: Verdana;
	font-size: 12px;
	margin: 25px;
}

#blue-tool-popup .info-display.left {
	width: 55%;
	float: left;
	margin-right: 0px;
}
#blue-tool-popup .info-display.right {
	width: 37%;
	float: right;
	margin-left: 0px;
}
#blue-tool-popup .print.button {
	/*background: red;*/
	float: right;
	margin-right: 25px;
	margin-top: -5px;
}
#blue-tool-popup .info-display p.top {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
}
#blue-tool-popup #thumb-grid {
	margin: 0px auto;
	width: 300px;
	height: 385px;
	margin-top: -25px;
}
#blue-tool-popup #thumb-grid .thumb {
	
	background: url('../img/polaroid-small.png') no-repeat center;

	float: left;
	text-align: center;
	width: 100px;
	height: 125px;	
}
#blue-tool-popup #thumb-grid .thumb .box img:first-child {

	margin-top: 26px;
	margin-left: -7px;
	margin-bottom: 21px;
	
}
#blue-tool-popup #thumb-grid .thumb .box img:last-child  {
	position: absolute;
	margin-left: -57px;
	margin-top: 30px;
	visibility: hidden;
}
#blue-tool-popup #thumb-grid .thumb.selected .box img:last-child  {
	visibility: visible;
}
#blue-tool-popup #thumb-grid p {
	
	padding: 0px;
	margin: 0px;
	margin-top: -4px;
	font-size: 11px;
	
}

#blue-tool-popup #polaroid-preview {

	position: absolute;
	left: 15%;
	top: 150px;
	box-shadow:0px 5px 12px #444;
	border-radius: 12px;

}
#blue-tool-popup #polaroid-preview img {

	width: 420px;
	padding: 15px;
	background-color: #fff;

}

#red-tool-popup .info-display,
#navy-tool-popup .info-display,
#green-tool-popup-1 .info-display,
#green-tool-popup-2 .info-display{

	height: 444px;
	margin: 25px;
	
}

#red-tool-popup h3,
#green-tool-popup-1 h3,
#green-tool-popup-2 h3,
#blue-tool-popup h3 {

	text-align: center;
	
}

#red-tool-popup .info-display h3,
#green-tool-popup-1 .info-display h3,
#green-tool-popup-2 .info-display h3 {
	font-size: 32px;
	font-family: 'canterbold';
	padding-top: 30px;
}

#red-tool-popup .info-display ul,
#green-tool-popup-1 .info-display ul,
#green-tool-popup-2 .info-display ul,
#red-tool-popup .info-display p,
#green-tool-popup-1 .info-display p,
#green-tool-popup-2 .info-display p {

	font-family: Verdana;
	line-height: 22px;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 5px;
	
}



/* Printables */
.printable {
	text-align: center;
	margin: 0px auto;
	width: 612px;
}
.cutout {
	border: 2px dashed gray;
}
.printable .footer {
	height: 30px;
	font-size: 8px;
	margin-top: 50px !important;
	margin-bottom: 30px !important;
	color: #aaa !important;
	text-align: center;
}
.printable h2 {
	font-size: 52px;
	font-family: 'canterbold';
}
.printable h3 {
	font-size: 26px;
	font-family: 'canterbold';
}

#five_things_to_know h2 {
	margin-top:5px;
	margin-bottom:35px;
}
#five_things_to_know p {
	margin: 10px 30px;

}

#photo_card {
}
#photo_card .photo-grid {
	margin: 0px auto;
	width: 100%;
}
#photo_card img {
	width: 145px;
	height: 120px;
	border: 3px solid #37AB38;
}
#photo_card .photo-box {
	float: left;
	width: 160px;
	height: 160px;
	margin: 20px;
}


/* Stop/Section Colors */
/* gray (intro) */
.gray{
	border-color: #aaa;
}
.gray .colored{
	color: #aaa;
}
.gray .panel-heading {
    border-color: #aaa;
    color: #fff;
    background-color: #aaa;
}
/* orange */
.orange,
.orange .video-list,
.orange .printables-dropdown {
    border-color: #F6891E;
}
.orange .colored{
	color: #F6891E;
}
.orange .panel-heading, .orange.btn-window-close {
    border-color: #F6891E;
    color: #fff;
    background-color: #F6891E;
}
.orange .panel-heading:hover {
    border-color: #FFB069;
    background-color: #FFB069;
}
.orange .round-button-circle {
    background: #F6891E; 
}
.orange .round-button-circle:hover {
	background:#FFB069;
}
.orange .panel .video-list  i {
	color: #F6891E;
}
.orange .tool-popup .panel {
	background-color: #F3CAAE;
	border-color: #F6891E;
}
.orange.printable h3,
.orange.printable h2 {
	color: #F6891E !important;
}
.orange-p {/* Prevent border disappearance on print */
	border-color:#F6891E !important;
}
.orange-p.printable h3,
.orange-p.printable h2 {
	color: #F6891E !important;
}
/* green */
.green,
.green .video-list,
.green .printables-dropdown {
    border-color: #41B549;
}
.green .colored{
	color: #41B549;
}
.green .panel-heading, .green.btn-window-close  {
    border-color: #41B549;
    color: #fff;
    background-color: #41B549;
}
.green .panel-heading:hover {
    border-color: #6BD66E;
    background-color: #6BD66E;
}
.green .round-button-circle {
    background: #41B549; 
}
.green .round-button-circle:hover {
	background:#6BD66E;
}
.green .panel .video-list  i {
	color: #41B549;
}
.green .tool-popup .panel {
	background-color: #A7D59D;
	border-color: #41B549;
}
.green .tool-popup .info-display h3 {
	color: #41B549;
}
.green.printable h3,
.green.printable h2 {
	color: #41B549 !important;
}
/* red */
.red,
.red .video-list,
.red .printables-dropdown {
    border-color: #ED1C24;
}
.red .colored {
    color: #ED1C24;
}
.red .panel-heading, .red.btn-window-close  {
    border-color: #ED1C24;
    color: #fff;
    background-color: #ED1C24;
}
.red .panel-heading:hover {
    border-color: #ff626C;
    background-color: #ff626C;
}
.red .round-button-circle {
    background: #ED1C24; 
}
.red .round-button-circle:hover {
	background:#ff626C;
}
.red .panel .video-list  i {
	color: #ED1C24;
}
.red .tool-popup .panel {
	background-color: #EE977F;
	border-color: #ED1C24;
}
.red .tool-popup .info-display h3 {
	color: #ED1C24;
}
.red.printable h3,
.red.printable h2 {
	color: #ED1C24 !important;
}
/* navy */
.navy,
.navy .video-list,
.navy .printables-dropdown {
    border-color: #114977;
}
.navy .colored {
    color: #114977;
}
.navy .panel-heading, .navy.btn-window-close  {
    border-color: #114977;
    color: #fff;
    background-color: #114977;
}
.navy .panel-heading:hover {
    border-color: #5287aB;
    background-color: #5287aB;
}
.navy .round-button-circle {
    background: #114977; 
}
.navy.round-button-circle:hover {
	background:#5287aB;
}
.navy .panel .video-list  i {
	color: #114977;
}
.navy .tool-popup .panel {
	background-color: #5388AC;
	border-color: #114977;
}
.navy.printable h3,
.navy.printable h2 {
	color: #114977 !important;
}
/* blue */
.blue,
.blue .video-list,
.blue .printables-dropdown {
    border-color: #18C0DB;
}
.blue .colored {
    color: #18C0DB;
}
.blue .panel-heading, .blue.btn-window-close  {
    border-color: #18C0DB;
    color: #fff;
    background-color: #18C0DB;
}
.blue .panel-heading:hover {
    border-color: #2ED4E5;
    background-color: #2ED4E5;
}
.blue .round-button-circle {
    background: #18C0DB; 
}
.blue .round-button-circle:hover {
	background:#2ED4E5;
}
.blue .panel .video-list  i {
	color: #18C0DB;
}
.blue .tool-popup .panel {
	background-color: #9EDBEE;
	border-color: #18C0DB;
}
.blue .tool-popup .info-display h3 {
	color: #18C0DB;
}
.blue.printable h3,
.blue.printable h2 {
	color: #18C0DB !important;
}

.mobile-window-container{
	display: none;
}

.hidden{
	display: none;
}

.stop_container.row {
  overflow: hidden;
}

@media (max-width: 992px) {
	.bubble-nav .panel, .bubble-nav .panel-heading {
		height: auto;
	}
	.bubble-nav .panel-heading {
		padding: 15px 25px;
	}
	
	.huge{
		float: left;
		margin: 0;
		padding: 20px 25px 0 0;
		width: 200px;
	}
	
	.line-horizontal{
		display: none;
	}
	
	.line-vertical{
		display: inline;
		float: left;
		padding: 0 25px 0 0;
	}
	
	.stop_container{
		padding-top: 0px;
	}
	
	.stop_container.row{
		margin: 0 !important;
	}
	.col-lg-5{
		padding: 0 !important;
	}
	
	.tri{
		display: none;
	}
	#stop_intro{
		display: none !important;
	}
	.orange, .orange .video-list, .orange .printables-dropdown{
		border: none;
	}
	.video-list, .orange, .navy, .blue, .green, .red{
		border:none;
	}
	.video-list {
		padding: 0 15px;
	}
	.video-list i {
		float: left;
		margin-right: 20px;
	}
	#vid_btn{
		text-align: left;
	}
	
	.printables-button, .activities-button{
		font-size: 28px;
		border-radius: 0px !important;
		margin-left: 35px;
		margin-right: 35px;
		width:auto;
		line-height: 1em;
	}
	.printables-button i, #btn_dropdown_print{
		display:none;
	}
	.mobile-window-container{
		display:block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		overflow-y: scroll;
	}
	.mobile-window{
		background: #fff;
		text-align: left;
		margin: 10px;
		padding: 0 0 10px 0;
	}
	.mobile-window p, .mobile-window li{
		padding: 0 10px;
	}
	.mobile-window h3{
		text-transform: uppercase;
		text-align: center;
		color: #010101;
		font-size: 24px;
		font-family: Verdana;
		font-weight: bold;
		margin-top: 0;
		padding: 0 10px;
	}
	.mobile-window .centered{
		text-align: center;
		margin: 0 auto;
	}
	.mobile-window .btn-window-close{
		color:#fff;
		width: 50px;
		height: 50px;
		float: right;
		margin: 0 0 10px 100%;
		text-align: center;
		font-weight: bold;
		font-size: 24px;
		font-family: Verdana;
		padding-top: 6px;
		cursor: pointer;
	}
	.video-fullscreen{
		overflow-y:hidden;
	}
	.video-fullscreen .mobile-window{
		background:none;
	}
	.video-fullscreen .mobile-window .btn-window-close{
		position: fixed;
		z-index: 100000;
		float: none;
		top: 0;
		right: 0;
	}
	.video-fullscreen .mobile-window iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 556px) {
	.huge{
		float: left;
		margin: 0;
		padding: 20px 5px 0 0;
		width: 180px;
	}
	.bubble-nav .panel-heading {
		padding: 15px 5px;
	}
	.line-vertical{
		padding: 0 5px 0 0;
	}
	.left-col h3.colored.centered, .video-player-container,
	.panel .right-col h3, .panel .right-col .tag, .col-md-7{
		display: none;
	}
}

@media (max-width: 480px) {
	.huge{
		padding: 10px 5px 0 0;
		width: 120px;
		line-height: 1em;
	}
}

@media (max-width: 420px) {
	.huge{
		float:none;
		padding: 0;
		width: auto;
	}
	.line-vertical{
		display:none;
	}
	.line-horizontal{
		display:inline;
	}
}
